@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
}
.sidebar {
  height: 100vh;
  width: 20%;
  /* background-color: red; */
}
.sidebar h3 {
  font-size: 210%;
  padding: 20%;
}
.sidebar .menu {
  list-style: none;
  font-size: 150%;
  padding-left: 20%;
}
.sidebar .menu-item{
    padding-bottom: 15%;
}
.sidebar .menu-link {
  color: gray;
}
.Line{
    text-decoration-line: line-through;
    text-decoration-color: red;
}
.Cart-btn{
    background-color:rgb(245, 69, 69);
    color: white;
    width: 150px;
    height: 50px;
    border: rgb(245, 69, 69);
    border-radius: 50px;
    font-size: 20px;
    margin-top: 20px;

}
.heading {
  /* background-color: yellow; */
  width: 50%;
  height: 30%;
  margin-top: -40%;
  margin-left: 20%;
}
.heading .main-heading {
  font-size: 500%;
}
.content {
  /* background-color: blue; */
  height: 20%;
  width: 30%;
  margin-left: 70%;
  margin-top: -15%;
  font-family: 'Lato', sans-serif;
}
.content .main-content{
    font-size: 150%;
    padding-left: 20%;
}
.line{
    height: 4px;
    width: 80px;
    margin-top: 20px;
    margin-left: 90px;
    background-color: rgb(245, 69, 69);
    border: rgb(245, 69, 69);
    border-radius: 2px;
}

.food-choice {
  /* background-color: green; */
  width: 70%;
  height: 228px;
  margin-left: 20%;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;

}

.food-choice .card-img-wrap img{
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.food-choice .card-wrap1,.card-wrap2,.card-wrap3,.card-wrap4,.card-wrap5{
    background-color: white;
    height: 228px;
    width: 180px;
    padding-top: 20px;
    border-radius: 10%;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1), 0 8px 22px 0 rgba(0, 0, 0, 0.1);
}
.card-wrap1 .card-info{
    text-align: center;
    padding: 20px;
}
.card-wrap2 .card-info{
    text-align: center;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
.card-wrap3 .card-info{
    text-align: center;
    padding: 20px;
}
.card-wrap4 .card-info{
    text-align: center;
    padding: 20px;
}
.card-wrap5 .card-info{
    text-align: center;
    padding: 20px;
}
.mobile-content {
    display: none;
} 
.mobile-header {
    display: none;
}

@media only screen and (max-width: 360px) {
    /* For mobile phones: */
    [class*="col-1"] {
      visibility: hidden;
    }

    [class*="col-2"] {
        background-color: red;
        margin-top: -150%;
        margin-left: -1%;
        height: 15%;
        width: 100vw;
        font-size: 7px;
    }


    [class*="col-3"] {
        margin-top: 85%;
        margin-left: -1%;
        width: 100vw;
        height: 20%;
    }

    .sidebar {
        width:100%;
        height:auto;
        display: none;
        visibility: visible;
    }
    .main {
        height:auto;
        padding:15px;
    }
    .heading{
        background-color: #fff;
        margin-top: 0;
        margin-left: 0;
        height: auto;
        width: 100%;
    }
    .heading .main-heading {
       font-size:26px;
       margin-bottom: 30px;
    }
    .content {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: auto;
    }
    .food-choice {
        width: 100%;
        height: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .food-choice .card-wrap1, .card-wrap2, .card-wrap3, .card-wrap4, .card-wrap5 {
        height: auto;
        width: auto;
        flex: 0 0 45%;
        max-width: 45%;
        margin-bottom:16px;
    }
    .content .main-content {
        font-size: 18px;
        padding-left: 0;
    }
    .line {
        margin-left:0;
    }
    .mobile-content {
        display: block;
        padding:30px 0;
    }
    .desktop-content {
        display: none;
    }
    .food-choice .card-img-wrap img {
        height: 115px!important;
        width: 115px!important;
    }
    .mobile-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

    }
    .logo-icon {
        font-size: 25px;
        font-weight: bold;
    }
    .card-wrap5 {
        display: none;
    }
}